
* {
  font-family: Roboto;
}

body {
  margin:0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.main_title {
  font-family: PT Serif;
}

.logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  font: bold 24px/31px 'pt_serifbold', arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.logo_circle_color_blue {
  background: #C8DBFB;
  opacity: .7;
  left: 8px;
  top: 56%;
}

.logo_circle_color_dark-blue {
  background: #0056EC;
}

.header-menu {
  display: inline-block;
  margin: 51px 0;
}

.header {
  display:flex;
  justify-content: space-between;
}

.header-menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.header-menu__item:last-child {
  margin-right: 0;
}

.header-menu__item_active:after {
  display: block;
  content: "";
  position: absolute;
  background: #0056EC;
  width: 100%;
  height: 2px;
  left: 0;
}

.header-menu__item:hover {
  opacity: .5;
}

.header-menu__item::after {
  display: block;
  content: "";
  position: absolute;
  background: #0056EC;
  width: 0;
  height: 2px;
  left: 0;
  transition: opacity .5s, width .5s;
  opacity: 0;
}

.header-menu__item:hover::after, .header-menu__item_active:after {
  opacity: 1;
  width: 100%;
}
